.content-page .table-list {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
}

.content-page .table-list .action-link {
    margin-left: 20px;
}

.content-page .table-list thead tr {
    height: 50px;
    border-top: 1px solid #e9ecef;
    border-bottom: 3px solid #e9ecef;
}

.content-page .table-list tbody tr {
    border-top: 1px solid #e9ecef;
    height: 40px;
}

.content-page .table-list tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.03);
}

.content-page .table-list tbody tr:nth-child(even) {
    background-color: #ccc;
}

.table-list tbody .icon{
    font-size: 25px;
    display: flex;
    display: inline;
    padding-left: 8px;
}
