.main-nav {
    background-image: linear-gradient(to right, #141e30, #243b55);
    width: 250px;
    height: 100vh;
}

.main-nav header {
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid gray;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav .nav-links {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.main-nav .nav-links .icon-add {
    display: flex;
    padding: 5px;
    align-items: center;
}

.main-nav .nav-links .icon-add:hover {
    background-color: #0d6efd;
    border-radius: 5px;
    width: 100%;
}

.main-nav .nav-links .icon-add {
    color: white;
}

.main-nav .nav-links a.nav-item {
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
    border-radius: 5px;
}